.grid {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 800px;
  box-sizing: border-box;
}
  
.row {
  display: flex;
  width: inherit;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.row[data-row-position="0"] {
  border-top: 1px solid #ccc;
}
  
.grid-cell {
  width: 16px;
  height: 16px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

.grid-cell[data-cell-position ="0"] {
  border-left: 1px solid #ccc;
}

.robot {
  position: absolute;
  bottom: 2%;
  left: 2% ;
  height: 8px;
  width: 8px;
  transform: translate(-50%, 50%);
  background-color: #ff0000;
  border-radius: 50%;
}